@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;600;700&family=Yeseva+One&display=swap');


*{
    font-family: Assistant;
    font-weight: 300;
    line-height: 1.5;
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    margin-top: 130px;
}

section:not(#root){
    padding: 20px;
}

.button{
    color: black;
    background-color: rgb(226, 226, 226);
    border: 1px solid rgb(209, 209, 209);
    text-align: center;
    border-radius: 8px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 18px;
}

h1, h2, h3{
    font-family: Yeseva One;
}

@media screen and (min-width: 440px) {
    main{
       padding: 0px 60px;  
    }
   
}

