section.conteúdoHome h2 {
  font-size: 22px;
  text-align: center;
}

section.infoGeral {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section.infoGeral h1 {
  font-size: 2em;
}

section.públicoAlvo {
  min-height: 400px;
}

ul.públicoAlvo-lista {
  padding-top: 40px;
  padding-bottom: 20px;
}

li.públicoAlvo-item::before {
  content: url(../../assets/icons/check-mark.png);
  padding: 15px;
}

li.públicoAlvo-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 190px;
  height: 100px;
}

section.recursos {
  min-height: 300px;
}

ul.recursos-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

li.recursos-item {
  padding: 20px;
}

@media (min-width: 768px) {
  section.infoGeral h1 {
    font-size: 3em;
  }

  section.infoGeral p,
  button.cadastro {
    font-size: 1.5em;
    text-align: center;
  }

  section.conteúdoHome h2 {
    font-size: 2em;
    text-align: center;
  }

  section.conteúdoHome h3,
  section.conteúdoHome p {
    font-size: 22px;
  }

  section.infoGeral .button{
    font-size: 22px;
  }

  ul.públicoAlvo-lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  li.públicoAlvo-item::before {
    padding: 20px;
  }

  li.públicoAlvo-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: 80px;
  }
}
