.logotipo{
  height: 50px;
  padding: 10px;
}

.navbar-fixed{
  background-color: rgb(234, 239, 250);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menuItem {
  padding: 10px;
}
/* 
button.login{
  position: absolute;
  right: 40px;
  font-size: 16px;
} */

footer{
  background-color: rgb(234, 239, 250);
  height: 50px;
  margin-top: auto;  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media (min-width: 440px){
 
}
